/* slouzi i pro frontend */
/*
.formLogin {margin:20px 0 20px 310px; }
.row_reg {width:280px; margin-bottom:10px; padding:3px 10px 0 10px; }
.row_reg_firm {width:330px; margin-bottom:10px; padding:3px 10px 0 10px; }
#rgf {margin-top:13px; }
.row_reg_adver, .row_reg_activity {width:420px; margin-bottom:10px; padding:3px 10px 0 10px; }
#rra {margin-top:13px; }
#rra2 {width:520px; }  
.district {width:190px; }
#submit {width:60px; }
.form_header {float:left; width:120px; } 
.form_header_adver {float:left; width:160px; font-weight:bold; } 
.form_header_new {float:left; width:160px; }
.warAdmin {color:#770200; }
.menuLang {float:right; padding:0 3px; margin:0px 10px 0 0; }
.menuLang2 {float:right; padding:0; margin:-26px 10px -7px 0; }
.contentApp {float:left; width:930px; height:auto; padding:15px; background:#efefef; padding-bottom:15px; }
.contentApp ul {list-style-image:url(../../design/li.png)}
.contentApp div, form, fieldset {border-radius:5px; }
.tablesorter {float:left; }
.log {float:left; width:920px; height:25px; text-align:right; margin:-8px 0 0 0; font-size:90%; }
.log span {color:#41adc9; }
.submenu {float:left; width:930px; height:auto; }
.hideSec {position:absolute; left:360px; margin-top:7px; }
#hideSec {left:900px; }
#hideSec2 {left:910px; margin-top:35px; }
.hideRight {float:right; }
 */ 
.formLupa {border:none; width:30px; height:20px; background:url(../design/lupa.gif) 0 0 no-repeat; cursor:pointer; }
  
/* CheckButton */
.formCheckedYes {border:none; width:30px; background:url(../design/checked_yes.gif) 0 0 no-repeat; cursor:pointer; }
.formCheckedNo {border:none; width:30px; background:url(../design/checked_no.gif) 0 0 no-repeat; cursor:pointer; }
  
/* ShowButtons */
.formI {border:none; width:20px; height:20px; background:url(../design/info.png) 0 0 no-repeat; cursor:pointer; }
.formAcc {border:none; width:20px; height:20px; background:url(../design/pero.png) 0 0 no-repeat; cursor:pointer; } /* EditButton */
.formTest {border:none; width:30px; height:20px; background:url(../design/test.gif) 0 0 no-repeat; cursor:pointer; }
.formArchiv {border:none; width:30px; height:20px; background:url(../design/archiv.gif) 0 0 no-repeat; cursor:pointer; }
.formPerson {border:none; width:30px; background:url(../design/contact.png) 0 0 no-repeat; cursor:pointer; }
  
/* DelButton */
.formDel {float:right; border:none; width:30px; height:20px; background:url(../design/delete.gif) 0 0 no-repeat; cursor:pointer; } /* HideButton */
  
.tableButton {width:40px; }

/*
.tableUser {width:80px;}
.ableDatetime {width:120px;}
  
.imgDelForm {float:right; }
  
.formDelQuery {float:left; width:390px; height:auto; background:#fff; padding:15px 15px 0 15px; border:1px solid #cccccc; margin-bottom:15px; }

.formNewUser {width:350px; height:auto; background:#fff; }
.formNewFirm {width:400px; height:auto; background:#fff; }
.formNewAdver {height:auto; background:#fff; }
.formNewAdver legend {width:160px; }
.tdCheckbox {width:220px; }

.selectAdver {width:240px; }

.hideActivity, .hideCity {display:none; }
.editFirmInp {width:200px; }

.editProfil {float:left; width:900px; height:auto; margin-top:15px; padding:15px; border:1px solid #cccccc; background:#fff;} 
.editProfil table {float:left; table-layout:auto; }
.coverTextarea {float:left; width:900px; height:auto; }
.formLogo {float:left; padding:15px; margin:20px 0 0 0; border:1px solid #ccc; border-raduius:7px; }

.flag_cs {border:none; width:30px; height:22px; background:url(../design/cs.png) 0 0 no-repeat; cursor:pointer; }
.flag_sk {border:none; width:30px; height:22px; background:url(../design/sk.png) 0 0 no-repeat; cursor:pointer; }

.helpdate {position:absolute; top:220px; left:350px; width:250px; background:#fff; padding:10px; font-size:90%; }
#helpdate {margin-top:-10px; }
.helpcontent {position:absolute; top:120px; right:10px; width:350px; height:auto; background:#fff; padding:10px; font-size:90%; }
#helpcontent {position:absolute; top:50px; right:10px; }

.method {float:left; width:100%; height:auto; margin:0 0 20px 0; }
.method table {table-layout:auto; border-collapse:collapse; margin:0 0 10px 0; background:#fff; }
.method table td {padding:3px 5px; border:1px solid #ccc; } 
.method h3 {margin-top:20px; }

.smallMenu {margin-bottom:20px; }
.catIndustry {margin-bottom:20px; }

#indicator {color:#23e1fb; }
#indicator2 {color:#093276; }

#tdCand {width:50px;}
*/