/* ADMINISTRACE */
body {margin:0; padding:0; font:13px/1.1 "Arial Narrow", sans-serif; }
.centererAdmin {position:relative; width:960px; min-height:500px; margin:0 auto; padding:0; overflow:hidden; } 
.languageAdmin {float:left; padding:10px 0 8px 10px; width:100%; height:auto; }
.contentAdmin {float:left; width:930px; height:auto; padding:20px; background:#f0f0f0; }
.contentAdmin ul {list-style-image:url(../design/li.png)}
.footerAdmin {float:left; width:100%; height:auto; font-size:90%; }
.faLeft {float:left; padding:10px; }
.faRight {float:right; padding:10px; }

.formLog {margin:20px 0 20px 330px; }
.row_reg {width:300px; margin-bottom:10px; padding:3px 10px 0 10px; }
.row_reg_nm {width:670px; margin-bottom:10px; padding:3px 10px 0 10px; }
.form_header {float:left; width:120px; }
.form_header_flag {float:left; width:40px; }
.checked {float:right; width:70px; margin:0 0 0 30px; }
.box {width:55px; }
.contentLeftLeftAdmin {float:left; width:190px; height:auto; padding:20px 20px; } 
.warAdmin {color:red; }
.menuLang {float:right; padding:0 3px; margin:0px 10px 0 0; }
.menuLangBanner {float:right; padding:0; margin:-25px 5px 0 0; }
.flags {width:32px; }
.lang_header {float:left; width:35px;}
.insertItem {margin:15px 0 0 0; }
.insertItem div {width:400px; margin-bottom:10px; padding:3px 10px 0 10px; }
.navigationMenu {float:left; width:695px; height:auto; margin:0 0 10px 0; font-size:90%; }
.navigationText {float:left; width:100%; height:auto; }
.noBorder {border:none !important; }
.smallTarea {float:left; width:600px; height:80px; margin:0 20px 0 0; }
.backOrder {float:right; margin:30px -5px 0 0; }
.tabRoom {table-layout:auto; border-collapse:collapse; margin:20px 0; }
.tabRoom caption {color:#31b7bc; }
.tabRoom td {padding:5px; text-align:left; border:1px solid #ccc; }
.insertButton {margin-bottom:15px; }
.middle {width:80px; }
.long {width:360px; }
.areaEvent {width:850px; }
.tabInput {margin-bottom:40px; }
.formDel {float:right; }
.pencil {border:none; width:22px; height:22px; background:url('../lib/design/tuzka.gif') no-repeat; cursor:pointer; }
.delete {border:none; width:22px; height:22px; background:url('../lib/design/delete.gif') no-repeat; cursor:pointer; }
.describe {border:none; width:22px; height:22px; background:url('../lib/design/ikona_download.gif') no-repeat; cursor:pointer; }
.envelope {border:none; width:35px; height:22px; background:url('../lib/design/ikona_envelope.png') no-repeat; cursor:pointer; }
.printButton {border:none; width:22px; height:22px; background:url('../lib/design/printer.png') no-repeat; cursor:pointer; }
.sent {border:none; width:35px; height:22px; background:url('../lib/design/ikona_sent.png') no-repeat; cursor:pointer; }
.password {border:none; width:22px; height:22px; background:url('../lib/design/password.png') no-repeat; cursor:pointer; }
.tdPayment {width:160px; font-weight:bold; }
.tdPrice {width:50px; }
#backCorrect {margin:-10px 0 0 20px;; }
#tabShowEmail {width:300px; }
#tabEventEmail {width:300px; }
.tdIcon {width:22px; }
.tdIconLong {width:42px; }
.env {height:20px; }
.cellEmail {float:left; padding:3px 5px 5px 5px; background:#eee; border-radius:5px; margin:5px; }
.coverGroup {float:left; width:99%; padding:5px; background:#fff; border:1px solid #ccc; margin-bottom:20px; }
.moveEmail {float:right; border:none; background:#fff; margin:0 0 0 4px; cursor:pointer; }
.moveEmailButton {border:none; background:#fff; padding:0 2px; cursor:pointer; }
.sendGroup {float:left; width:100%; background:yellow; }
.sendGroupButton {margin-left:45%; border:none; background:none; cursor:pointer; }
#print {float:left; width:22px; cursor:pointer; }