h1 {color:#992f4a; }
h2 {color:#992f4a; }
h3 {color:#992f4a; }
h4 {color:#992f4a; }

a {color:#992f4a; }
a:hover {color:#ea126e; }

.menuJs2 a {color:#000; }
.menuJs2 a:hover {color:#992f4a; }
#actual {color:#992f4a; }

#menuVer li {
  background:#363636;    
}

#menuVer li a {
  color:#fff;
}

#menuVer li a:hover {
  color:#ff8bbc;
}

.slogan h1, .slogan h2 {color:#fff; }

.forEn, .forCs {
  background:#992f4a; 
}

.forEn p, .forCs p, .forEn h2, .forCs h2 {
  color:#fff; 
}

.slideButton:hover {
  color:#fcd5bb; 
}

.bannCategoryList {
  color:#992f4a;
}

.aIList {
  color:#000;
}

.bOEv {
  border:1px solid #992f4a;
}

.buttonOrder, .orderButton {
  background:#f2f2f2;
}

.sbmReserve, .sbmReserveReg {
  border:1px solid #992f4a;
  background:#f2f2f2;
  color:#000;
}

.formOrderEv table td {
  color:#000 !important;
}

.bannCategory {
  color:#fff;
}

.footer a {
  color:#fff;
}

.footer a:hover {
  color:#ff8bbc;
}

.cond:hover {
  color:#ff8bbc;
}

.conditionFoo {
  background:#fff;
  border:1px solid #ccc;
}

.conditionForm {
  background:#fff;
  border:1px solid #ccc;
}

.menu a {color:#fff; background:#992f4a; border-right:1px solid #414141; }
.menu li a:hover {background:#414141; color:#eee; } /* !!! MUSÍ BÝT OBRÁZKOVÉ MENU, NE COLOR */
.menu li li {border-bottom:1px solid #414141;} 
.menu li li:hover {background:#992f4a; }
.menu li li a {font-weight:normal; border:none; }
.menu li li a:hover {background:none; color:#992f4a; }

#actualAdmin {color:#eee; background:#414141; }

/* ADMIN */
.languageAdmin {background:#992f4a; }
.menuAdmin {background:#323232; }
.menuAdmin a {color:#fff; }
.menuAdmin a:hover {background:#992f4a; color:#eee; }
.menu_row p {color:#78d5fe; }
.tabAdmin th {background:#992f4a; color:#eee; border:1px solid #ccc; }
.footerAdmin {background:#992f4a; }
.footerAdmin a {color:#fff; }
.footerAdmin a:hover {color:#ccc; }

.ajaxOrder {color:red; }

#tabOrder th,  #tabNewsletter th {color:#000; }





