h1 {color:#d71a21; }
h2 {color:#d71a21; }
h3 {color:#d71a21; }
h4 {color:#d71a21; }

a {color:#d71a21; }
a:hover {color:#9b2724; }

/* MENU */
.menuJs2 li li {
    background:#fff; 
    border-bottom:1px solid #d71a21; 
}

.menuJs2 a:hover {
    color:#9b2724; 
}

#actual, #actualCss {
    color:#9b2724; 
}

#menuVer ul {
    background:#fff; 
    border-top:1px solid #d71a21; 
    border-right:1px solid #d71a21; 
}

#menuVer li {
    background:#fff; 
    border-bottom:1px solid #d71a21; 
}

.slogan h1, .slogan h2 {
    color:#000; 
}

.formRegistration, .formLogin {
  background:#e6e7e8;
}

.formRegistration form, .formLogin form {
  color: #d71a21;
}

.coverContent {
  background:#e6e7e8;
}

.forEn, .forCs {
  background:#d71a21; 
}

.forEn p, .forCs p, .forEn h2, .forCs h2 {
  color:#fff; 
}

.slideButton:hover {
  color:#fcd5bb; 
}

.bannCategoryList {
  color:#d71a21;
}

.aIList {
  color:#000;
}

.bOEv {
  border:1px solid #d71a21;
}

.buttonOrderEv {
  color: #fff;
  background:#d71a21;
}

.buttonOrder, .orderButton {
  background:#fafafa;
}

.sbmReserve, .sbmReserveReg {
  border:1px solid #d71a21;
  background:#f2f2f2;
  color:#000;
}

.formOrderEv table td {
  color:#000 !important;
}

.bannCategory {
  color:#fff;
}

.footer {
  background:#fff;
  color:#363636;
	font-weight: bold;
}

.cond, .phAgree {
  color:#d71a21;
}

.cond:hover, .phAgree:hover {
  color:#9b2724;
}

.conditionFoo {
  background:#fff;
  border:1px solid #ccc;
}

.conditionForm {
  background:#fff;
  border:1px solid #ccc;
}

#actualAdmin {color:#eee; background:#414141; }

.logged {
  color:#d71a21;;
}

.switcher a {
    color:#000;
    cursor:pointer;
}

.switcher a:hover {
    color:#d71a21;
}

.langActual {
    color:#d71a21;
}

/* login */
.buttonSubmit {
  background:#d71a21;
  color:#fff;
}

#item2, #item3, #item104, #item6, #item110 {
	background: #fff;
}

.tbRef {
	border: 1px solid #d71a21;
	background: #fff;
}

.prev, .next {
	color: #d71a21;
}

.adver {
  background:#e6e7e8; 
}

.adver p {
  color:#d71a21;
}

/* ADMIN */
.languageAdmin {background:#d71a21; }
.menuAdmin {background:#323232; }
.menuAdmin a {color:#fff; }
.menuAdmin a:hover {background:#d71a21; color:#eee; }
.menu_row p {color:#78d5fe; }
.tabAdmin th {background:#d71a21; color:#eee; border:1px solid #ccc; }
.footerAdmin {background:#d71a21; }
.footerAdmin a {color:#fff; }
.footerAdmin a:hover {color:#ccc; }

.ajaxOrder {color:red; }

#tabOrder th,  #tabNewsletter th {color:#000; }

.cursorP:hover, .pChangePass:hover {color:#ea126e; }





