body {
  margin:0; 
  padding:0;  	
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85em;
  font-weight: 300;
  line-height: 1.45;   
  background:#fff;
  background-size:100% auto;
}

img {
  border:none; 
} 

p {
  margin:0; 
  padding:0 0 15px 0; 
}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size:2.2em; 
  text-align:center;
  margin: 10px 0;
}

h2 {
  font-family: 'Kaushan Script', cursive;
  font-size:1.8em; 
  line-height:2.0; 
  text-align:center;
  margin-top: 0;
}

h3 {
  font-family: 'Kaushan Script', cursive;
  font-size:1.4em; 
  line-height:1.6; 
  text-align:left;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size:1.5em; 
  }
}

h2 {
  font-size:1.3em; 
  margin:0; 
}

h3 {
  font-size:1.2em; 
  margin:0;
}

h4 {
  font-size:1.1em; 
  margin:0; 
}

.smallFont {font-size:90%; }

/* ----------------------------------------------------------------------------------------------------------
2) LAYOUT
---------------------------------------------------------------------------------------------------------- */

.centerer {
  position:relative; 
  width:100%;
  top:0px; 
  height:auto; 
  margin:0 auto;
  border:none;
  overflow:hidden;
}
/*
@media screen and (max-width: 990px)  {
  .centerer {
    width:100%;
  }
}
*/
.heaDer {
  position:absolute;
  width:100%;
  height:60px;
  background:url('../design/bg_white.png');
  /*position:fixed;*/
}

.logo {
  position: absolute;
  height:50px;
  margin:6px 1% 0px 2%;
}

@media screen and (max-width: 500px)  {
  .logo {
    height:40px;
  }
}

.slider {
    float:left;
    width:100%;
}

.slogan {
  position: absolute;
  top:120px;
  left:8%;
  width:30%;
  height:auto;
  z-index:100;
}

.slogan h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size:1.4em; 
  line-height:1.3; 
  margin:0; 
  text-align:left !important;
}

.slogan h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size:1.0em; 
  line-height:1.4;
  margin-top:-15px;
  text-align:left !important; 
}

@media screen and (max-width: 1250px)  {
  .slogan {
    top:80px;
  }
  .slogan h1 {
    font-size:1.2em;
  }
}

@media screen and (max-width: 940px)  {
  .slogan {
    top:70px;
    left: 60px;
  }
  .slogan h1 {
    font-size:1.1em;
  }
  .slogan h2 {
    font-size:0.9em;
  }
}

@media screen and (max-width: 840px)  {
  .slogan {
    width:28%;
  }
  .slogan h1 {
    font-size:1.0em;
  }
  .slogan h2 {
    font-size:0.85em;
  }
}

@media screen and (max-width: 760px)  {  
  .slogan h2 {
    display:none;
  }
}

@media screen and (max-width: 500px)  {
  .slogan {
    top:50px;
    left: 55px;
  }
  .slogan h1 {
    font-size:0.85em;
  }
}

.coverContent {
  float:left;
  width:100%;
  height:auto;
  margin-top:50px;
}

@media screen and (max-width: 500px)  {
  .coverContent {
    margin-top:100px;
  }
}

.contentIn {
    position:relative;
    margin:0 auto;
    width:100%;
}
/*
@media screen and (min-width: 1350px)  {
  .contentIn {
    width:1350px;
  }
}
*/
.forEn {
  float:left;
  width:37%;
  padding:10px 1% 15px 2%;
  margin-left:8%;
  height:auto; 
  margin-bottom:15px;
  margin-top:-50px;
}

.forEn h2, .forCs h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold !important;
  font-size:1.4em !important;
  line-height: 1.4;  
  margin-bottom: 7px;
  text-align: left;
}

.forCs {
  float:left;
  width:37%;
  padding:10px 1% 15px 2%;
  margin-left:4%;
  height:auto;
  margin-bottom:15px;  
  margin-top:-50px;
}

.flag {
  float:right;
  height:30px;
  margin: -5px -7px 0 !important;
}

.perex {
  float:left;
  height:80px;
  overflow:hidden;
}

@media screen and (max-width: 860px) {
  .forEn {
    width:80%;
    height:auto;
    padding-right:3%;
  }
  .forCs {
    width:80%;
    height:auto;
    padding-right:3%;
    margin-top:20px;
    margin-left:8%;
  }
  .perex {
    float:left;
    height:auto;
  }
}

.video {
    position: relative;
    width: 1050px;
    margin: 20px auto;
}

@media screen and (max-width: 1150px) {
    .video {
        width: auto;
    }    
}

.video iframe {
    width: 500px;
    height: 281px;
    margin: 20px 15px 0 0;
}

@media screen and (max-width: 640px) {
    .video iframe {
        width: 380px;
        height: 214px;
    }
}

@media screen and (max-width: 480px) {
    .video iframe {
        width: 280px;
        height: 157px;
    }
}

@media screen and (max-width: 340px) {
    .video iframe {
        width: 240px;
        height: 135px;
    }
}

.handler {
  float:left;
  width:98%;
  height:30px;
  margin-top:10px;
}

@media screen and (max-width: 990px)  {
  .handler {
    width:100%;
  }
}

.buttonSlide, .slideButton {
  float:left; 
  width:115px;
  height:25px;
  padding-top:5px;
  color:#fff;
  /* background:url('../design/button_down.png') 0 0 no-repeat; */
  cursor:pointer;
  text-decoration:underline; 
}

.buttonOrder, .orderButton {
  float:right;
  height:22px;
  padding:8px 7px 3px 7px;
  color:000;
  font-weight:bold;
  border-radius:3px;
  cursor:pointer;
}

.buttonOrder img, .orderButton img {
  float:left;
  margin-right:5px;  
}

.content {
  float:left;
  width:84%;
  padding:15px 8% 15px 8%;
  margin:15px 0;
  min-height:100px;
  height:auto;
  background:none;
  background:#e6e7e8;
  text-align:left;
}

.footer {
  float:left;
  width:96%;
  height:auto;
  padding:15px 2%;
  text-align:center;
    margin-top: -15px;
}

.buttonCloseDetail, .buttonCloseForm {
  float:right;
  margin:0 5px 0 0;
  width:20px;
  height:20px;
  cursor:pointer;
}

.detailArticl {
  float:left;
  padding-top:5px;
  width:100%;
}

.formOrder {
 float:left;
 width:100%;
}

.formOrd {
  color:#fff;
}

.fillBook {
	text-align: left;
}

.spacer {
  float:left;
  width:100%;
  height:15px;
}

.inpReserve {
  width:190px;
}

.sbmReserve {
  float:right;
  border:none;
  margin-top:5px;
  padding:2px 5px 3px 5px;
}

.actionInfo { 
  float:left;
  width:100%; 
  height:auto;
  margin-top:5px;
  color:#fff;
}

.aIList {
  float:left;
  height:auto;
  margin-top:5px;
  color:#fff;
}

.tbWhen, .tbAttend, .tbPrice {
  table-layout:auto;
  border-collapse: collapse;
  margin: 0;
}

.tbWhen td, .tbAttend td, .tbPrice td {  
  vertical-align:top;
  /*height:10px !important;*/
  white-space:nobreak;
  padding-left: 5px;
}

.tbWhen td img {
  margin-top:3px; 
}

.tbAttend td img {
  margin-top:3px; 
}

.tbPrice td img {
  margin-top:2px; 
}

.back {
  float:left; 
  font-weight: bold;
  width:100%;
  height:auto;
  text-decoration:underline; 
  color:#992f4a; 
  cursor:pointer;
  text-align:right !important;
  margin-top: 10px;
}

.event {
  float:left;
  width:100%;
  min-height:100px;
  padding:15px 0;
  margin-bottom:15px;
  border-bottom:1px dashed #000;
}

.eventImg {
  float:left;
  width:260px;
  margin-right:25px;
  margin-bottom:15px;
}

.actionInfoEv {
  float:left; 
  width:70%; 
  height:auto;
}

.actionInfoEv table {
  float:left;
  margin-right:10px;
}

.eventEv {
  float:left;
  width:70%;
  height:auto;
  margin-top:15px;
}

@media screen and (max-width: 1100px)  {
  .eventEv {
    width:100%;  
  }
}

.buttonSlideEv {
  float:left; 
  width:110px;
  height:30px;
  margin-left:44%;
  background:url('../design/more_info_ev.png') 0 0 no-repeat;
  cursor:pointer;  
}

.detailArticlEv {
  float:left;
  padding-top:5px;
  width:100%;
}

.buttonCloseDetailEv, .buttonCloseFormEv {
  float:right;
  margin:0 5px 0 0;
  width:20px;
  height:20px;
  cursor:pointer;
}

.buttonOrderEv {
  float:right;
  height:22px;
  padding:8px 12px 3px 12px;
  margin-bottom:15px;
  color:000;
  font-weight:bold;
  border-radius:5px;
  cursor:pointer;
}

.buttonOrderEv img {
  float:left;
  margin-right:5px;  
}

.formOrderEv {
 float:left;
 width:100%;
 margin-bottom:30px;
}

.album {
  float:left;
  width: 172px;
  height:198px;
  margin:0 15px 20px 0;
}

.coverImg {
  float:left;
  width: 172px;
  height:172px;
  overflow: hidden;
}

.landscape {
  float:left;
  height:170px;
}

.portrait {
  float:left;
  width:170px;
}

.albumName {
  float:left;
  width:100%;
  font-size:90%;
  height:17px;
  padding-top:2px;
  overflow:hidden;
}

.inpYear {
  width:60px; 
}

.eventCat {
  float:left; 
  width:350px;
}

.socMedia td {
  padding:10px 20px 0 0;
  vertical-align:middle;
}

.map {
  float:left; 
  width:260px; 
  height:260px; 
  margin:22px 20px 0 0;
}

.cond, .phAgree {
  text-decoration:underline;
  cursor:pointer;
}

.phAgree {
    font-size: 0.92em;
}

.coverPhAgree {
  float:left;
  width:300px;
  height:25px;
}

.conditionFoo {
  position:absolute;
  bottom:80px;
  width:80%;
  margin-left:8%;
  min-height:200px;
  padding:15px;
  height:auto;
  z-index:1000;
}

.conditionForm {
  width:380px;
  padding:15px;
  margin:15px 0;
  height:auto;
}

@media screen and (max-width:480px) {
  .conditionForm {
    width:90%;
  }
}

@media screen and (max-width:360px) {
  .conditionForm {
    width:80%;
  }
}

#delWin, .delWinForm {
  float:right;
  width:20px;
  cursor:pointer;
}

.adver {
  position:absolute;
  top:80px;
  right:50px;
  width:370px;
  padding:10px;
  height:auto;
  text-align:center;
  box-shadow:#323232 4px 6px 20px;
  z-index: 2000;
}

.adver p {
    width:90%;
}

.adver img {
  float:right;
  width:20px;
  height:20px;
  cursor:pointer;
}

.adver p {
  font-size:1.1em;
  font-weight: bold;
}

@media screen and (max-width: 640px)  {
  .adver {  
    width:80%;
    right:5%;
  }
  .adver h2 {
    font-size:1.0em;
  }
}

/* login + registration */
.coverUser {
  float:right;
  margin:0px 30px 0 0;
  width:170px;
  height:30px;  
}

@media screen and (max-width: 500px)  {
  .coverUser {
    margin:0;
  }
}

/* login */
.buttonSubmit {
  font-size: 0.85em;
  font-weight: bold;
  padding: 5px 8px;
  border: none;
  cursor: pointer;
}

.userLog {
  float:right;
  padding:2px 5px 3px 5px;
  margin:0;
}

.cursorP {
  cursor:pointer;
  text-decoration:underline;
}

/* registration */
.userReg {
  float:right;
  padding:2px 5px 3px 5px;
  margin:0 0 0 5px;
}

.formRegistration, .formLogin {
  position:absolute;
  right:0px;
  top:80px;
  width:370px;
  height:auto;
  padding:5px 0 10px 0;
  box-shadow:#323232 4px 6px 20px;
  overflow:hidden;
}

.formRegistration label {
    font-size: 0.92em;
}

.formRegistration table, .formLogin table {
  float:left;
  width:350px;
  margin-left:10px;
}

#changeForgot, #changeForm {
    font-size: 0.85em;
    font-weight: bold;
}

.formForgot table {
    margin-top: 10px;
}

#cfReg { /* conditionForm */
  width:310px;
  color:#000;
}

.tdFormReg {
  width:120px;
}

/* captcha */
.control {
  float:left; 
  width:170px; 
  height:auto; 
}

#captcha {
  float:left; 
  width:120px; 
  margin:0 0 10px 0; 
}

.refresh {
  float:right; 
  width:25px; 
}

.refresh img {
  width:20px; 
  margin:10px 0 0 0; 
}

.field {
  float:left; 
}

.field input {
  width:180px; 
}
/* end captcha */

/* registration form */
.closeFormReg, .closeFormLog {
  float:right;
  margin:2px 7px 0 0;
  cursor:pointer;
}

.formTitle {
    float: left;
    width: 150px;
    height: 35px;
}

.coverClose {
  float:left;
  width:360px;
  height:20px;
  padding-left:10px;
  font-size:1.2em;
  font-weight:bold;
  color:#992f4a;
  
}

.sbmReserveReg {
  float:right;
  border:none;
  margin:7px 130px 10px 0;
}
/* end registration form */

.logged {
  float:left;
  width:330px;
  height:auto;
  margin:10px 0 0 10px;
}

.confirm {
  float:left;
  padding:20px;
}

.tdRegEvent {
  text-align:right; 
  padding-right:10px;
}

.other {
  float:left;
  width:200px;
  margin:0 0 0 15px;
}

.formOwnPass table {
  table-layout:auto;
  width:260px;
  margin:0 0 10px 0;
}

.pChangePass {
  margin:10px 0 0 0;
  text-decoration:underline;
  cursor:pointer;
}

.address {
  float:left;
  width:50%;
  height:auto;
}

@media screen and (max-width: 640px)  {
  .address {
    width:90%;  
  }
}

.ttEv {
  float:left; 
  width:70%
}

.ttEv h2 {
  text-align: left;
}

@media screen and (max-width: 640px)  {
  .ttEv {
    width:100%;  
  }
}

.links {
  width:100%;
  text-align:center;
  padding:15px 0;
}

.copy {
  width:100%;
  text-align:center;
}

.tbRef td {
	vertical-align: top;
}

.references {
	width: 96%;
}

.references h1 {
	font-style: normal;
}

.prev, .next {
	width: 20px;
	font-size: 2.0em;
	font-weight: bold;
	color: #d71a21;
	padding:20px 10px 0 10px;
	cursor: pointer;
}

