body {
  margin:0; 
  padding:0;  	
  /*font-family:Vollkorn;*/  
  font-family: "Times New Roman", Georgia, Serif;
	font-size:1.0em;
	font-style:normal;
	font-variant:normal;
	/*font-weight:500;*/
	line-height:1.2;  
	background:#ddd url('../design/prague.jpeg') 0 60px no-repeat;
	background-size:100% auto;
}

img {
  border:none; 
} 

p {
  margin:0; 
  padding:0 0 10px 0; 
}

h1 {
  font-size:1.8em; 
  line-height:1.2; 
  margin-bottom:10px; 
  text-align:center;
}

@media screen and (max-width: 640px)  {
  h1 {
    font-size:1.5em; 
  }
}

h2 {
  font-size:1.3em; 
  margin:0; 
}

h3 {
  font-size:1.2em; 
  margin:0;
}

h4 {
  font-size:1.1em; 
  margin:0; 
}

.smallFont {font-size:90%; }

/* ----------------------------------------------------------------------------------------------------------
2) LAYOUT
---------------------------------------------------------------------------------------------------------- */

.centerer {
  position:relative; 
  width:100%;
  top:0px; 
  height:auto; 
  margin:0 auto;
  border:none;
  overflow:hidden;
}

@media screen and (max-width: 990px)  {
  /* omezi sirku na max 1100 px */
  .centerer {
    width:100%;
  }
}

.heaDer {
  float:left;
  width:100%;
  height:60px;
  background:#fff;
  /*position:fixed;*/
}

.logo {
  float:left;
  height:50px;
  margin:6px 1% 0px 2%;
}

.slogan {
  float:left;
  margin-top:40px;
  margin-left:8%;
  width:70%;
  height:auto;
}

.slogan h1 {
  font-size:3.1em; 
  line-height:1.2; 
  margin:0; 
  font-weight:300;
  text-align:left !important;
}

.slogan h2 {
  font-size:1.4em; 
  margin:-20px 0 0 0;
  font-weight:300;
  text-align:left !important; 
}

#sloganH2 {
  line-height:1.5;
}


@media screen and (max-width: 940px)  {
  .slogan h1 {
    font-size:2.6em;
  }
}

@media screen and (max-width: 740px)  {
  .slogan {
    margin-left:40px;
    width:85%;
  }
  .slogan h1 {
    font-size:2.0em;
  }
  .slogan h2 {
    font-size:1.0em;
  }
}

@media screen and (max-width: 600px)  {
  .slogan h1 {
    font-size:1.3em;
  }
  .slogan h2 {
    font-size:0.9em;
    margin-top:-12px;
    line-height:1.2 !important;
  }  
}

@media screen and (max-width: 500px)  {
  .slogan h1 {
    font-size:1.1em;
  }
  .slogan h2 {
    font-size:0.8em;
    margin-top:-12px;
    line-height:1.1 !important;
  }  
}

@media screen and (max-width: 600px)  {
  .slogan {    
    margin-top:10px;
  }
}

.coverContent {
  float:left;
  width:100%;
  height:auto;
  margin-top:200px;
  background:url('../design/beige.png');
}

@media screen and (max-width: 600px)  {
  .coverContent {
    margin-top:160px;
  }
}

.forEn {
  float:left;
  width:37%;
  padding:10px 1% 15px 2%;
  margin-left:8%;
  margin-top:-100px;
  height:auto; 
  margin-bottom:15px; 
  border-radius:15px; 
}

.forEn h2, .forCs h2 {
  font-size:1.5em !important;
  font-weight:normal !important;
}

.forCs {
  float:left;
  width:37%;
  padding:10px 1% 15px 2%;
  margin-left:4%;
  margin-top:-100px;
  height:auto;
  margin-bottom:15px;
  border-radius:15px;   
}

.flag {
  float:right;
  height:30px;
}

.perex {
  float:left;
  height:80px;
  overflow:hidden;
}

@media screen and (max-width: 860px) {
  .forEn {
    width:80%;
    height:auto;
    padding-right:3%;
  }
  .forCs {
    width:80%;
    height:auto;
    padding-right:3%;
    margin-top:20px;
    margin-left:8%;
  }
  .perex {
    float:left;
    height:auto;
  }
}

.handler {
  float:left;
  width:98%;
  height:30px;
  margin-top:10px;
}

@media screen and (max-width: 990px)  {
  .handler {
    width:100%;
  }
}

.buttonSlide, .slideButton {
  float:left; 
  width:140px;
  height:25px;
  padding-top:5px;
  color:#fff;
  /* background:url('../design/button_down.png') 0 0 no-repeat; */
  cursor:pointer;
  text-decoration:underline; 
}

.buttonOrder, .orderButton {
  float:right;
  height:22px;
  padding:8px 7px 3px 7px;
  color:000;
  font-weight:bold;
  border-radius:5px;
  cursor:pointer;
}

.buttonOrder img, .orderButton img {
  float:left;
  margin-right:5px;  
}

.content {
  float:left;
  width:84%;
  padding:15px 8% 15px 8%;
  margin:15px 0;
  min-height:100px;
  height:auto;
  background:none;
  background:url('../design/bg_over.png');
  text-align:left;
}


.footer {
  float:left;
  width:96%;
  height:auto;
  padding:15px 2%;
  text-align:center;
  background:#363636;
  color:#fff;
}

.buttonCloseDetail, .buttonCloseForm {
  float:right;
  margin:0 5px 0 0;
  width:20px;
  height:20px;
  cursor:pointer;
}

.detailArticl {
  float:left;
  padding-top:5px;
  width:100%;
}

.formOrder {
 float:left;
 width:100%;
}

.formOrd {
  color:#fff;
}

.spacer {
  float:left;
  width:100%;
  height:15px;
}

.inpReserve {
  width:190px;
}

.sbmReserve {
  float:right;
  border:none;
  margin-top:5px;
  padding:2px 5px 0 5px;
  background:#fff;
  color:#992f4a;
  font-weight:bold;
  border-radius:5px;
  font-family:Vollkorn;
	font-size:1.0em;
}


.actionInfo { 
  float:left;
  width:100%; 
  height:auto;
  margin-top:5px;
  color:#fff;
}

.aIList {
  float:left;
  height:auto;
  margin-top:5px;
  color:#fff;
}

.tbWhen {
  float:left;
  table-layout:auto;
}

.tbWhen td, .tbAttend td, .tbPrice td {
  vertical-align:top;
  height:10px !important;
  white-space:nobreak;
}

.tbWhen td img {
  margin-top:3px; 
}

.tbAttend, .tbPrice {
  float:left;
  margin-left:5px;
}

.tbAttend td img {
  margin-top:3px; 
}

.tbPrice td img {
  margin-top:2px; 
}

.back {
  float:left; 
  width:100%;
  height:auto;
  text-decoration:underline; 
  color:#992f4a; 
  cursor:pointer;
  text-align:right;
}

.event {
  float:left;
  width:100%;
  min-height:100px;
  padding:15px 0;
  margin-bottom:15px;
  border-bottom:1px dashed #000;
}

.eventImg {
  float:left;
  width:260px;
  margin-right:25px;
  margin-bottom:15px;
}

.actionInfoEv {
  float:left; 
  width:70%; 
  height:auto;
}

.actionInfoEv table {
  float:left;
  margin-right:10px;
}

.eventEv {
  float:left;
  width:70%;
  height:auto;
  margin-top:15px;
}

@media screen and (max-width: 740px)  {
  .eventEv {
    width:100%;  
  }
}

.buttonSlideEv {
  float:left; 
  width:110px;
  height:30px;
  margin-left:44%;
  background:url('../design/more_info_ev.png') 0 0 no-repeat;
  cursor:pointer;  
}

.detailArticlEv {
  float:left;
  padding-top:5px;
  width:100%;
}

.buttonCloseDetailEv, .buttonCloseFormEv {
  float:right;
  margin:0 5px 0 0;
  width:20px;
  height:20px;
  cursor:pointer;
}

.buttonOrderEv {
  float:right;
  height:22px;
  padding:8px 12px 3px 12px;
  margin-bottom:15px;
  background:#f2f2f2;
  color:000;
  font-weight:bold;
  border-radius:5px;
  cursor:pointer;
}

.buttonOrderEv img {
  float:left;
  margin-right:5px;  
}

.formOrderEv {
 float:left;
 width:100%;
}

.album {
  float:left;
  height:172px;
  height:auto;
  margin:0 15px 20px 0;
}

.album img {
  float:left;
  height:172px;
}

.albumName {
  width:100%;
  font-size:90%;
  height:20px;
  padding-top:10px;
  overflow:hidden;
}

.inpYear {
  width:60px; 
}

.eventCat {
  float:left; 
  width:350px;
}

/*
.coverFb {
  float:left;
  width:100%;
  height:auto;
  margin-bottom:15px;
}
*/

.socMedia td {
  padding:10px 20px 0 0;
  vertical-align:middle;
}

.map {
  float:left; 
  width:260px; 
  height:260px; 
  margin:22px 20px 0 0;
}

.cond, .phAgree {
  text-decoration:underline;
  cursor:pointer;
}

.coverPhAgree {
  float:left;
  width:300px;
  height:25px;
}

.conditionFoo {
  position:absolute;
  bottom:80px;
  width:80%;
  margin-left:8%;
  min-height:200px;
  padding:15px;
  height:auto;
  z-index:1000;
}

.conditionForm {
  width:380px;
  padding:15px;
  margin:15px 0;
  height:auto;
}

@media screen and (max-width:480px) {
  .conditionForm {
    width:90%;
  }
}

@media screen and (max-width:360px) {
  .conditionForm {
    width:80%;
  }
}

#delWin, .delWinForm {
  float:right;
  width:20px;
  cursor:pointer;
}

.adver {
  position:absolute;
  top:100px;
  right:50px;
  width:370px;
  padding:10px;
  height:auto;
  background:#765e00; 
  text-align:center;
  text-shadow: 2px 2px 1px #000;
  border-radius:6px;
}

.adver img {
  float:right;
  width:20px;
  height:20px;
  cursor:pointer;
}

.adver h2 {
  color:#fff;
}

@media screen and (max-width: 640px)  {
  .adver {  
    width:80%;
    right:5%;
  }
  .adver h2 {
    font-size:1.0em;
  }
}

/* registration */
.user {
  float:right;
  padding:5px;
  margin:20px 30px 0 0;
  background:#fff;
  border:1px solid #992f4a;
  border-radius:5px;
  cursor:pointer;
}

.formRegistration {
  position:absolute;
  right:0px;
  top:120px;
  width:370px;
  height:auto;
  padding:5px 0 10px 0;
  background:url('../design/beige.png') 0 0 repeat;
  border-radius:10px 0 0 10px;
  box-shadow:#323232 4px 6px 20px;
  overflow:hidden;
}

.formRegistration table {
  float:left;
  width:350px;
  margin-left:10px;
}

.formRegistration form {
  color:#992f4a;
}

#cfReg { /* conditionForm */
  width:310px;
  color:#000;
}

.tdFormReg {
  width:100px;
}

/* captcha */
.control {
  float:left; 
  width:170px; 
  height:auto; 
}

#captcha {
  float:left; 
  width:120px; 
  margin:0 0 10px 0; 
}

.refresh {
  float:right; 
  width:25px; 
}

.refresh img {
  width:20px; 
  margin:10px 0 0 0; 
}

.field {
  float:left; 
}

.field input {
  width:180px; 
}

.closeFormReg {
  float:right;
  margin:2px 7px 0 0;
  cursor:pointer;
}

.coverClose {
  float:left;
  width:360px;
  height:20px;
  padding-left:10px;
  font-size:1.2em;
  font-weight:bold;
  color:#992f4a;
  
}

.sbmReserveReg {
  float:right;
  border:none;
  margin:7px 130px 10px 0;
  padding:2px 5px 3px 5px;
  background:#fff;
  color:#992f4a;
  font-weight:bold;
  border-radius:5px;
  font-family:Vollkorn;
	font-size:1.0em;
}

.confirm {
  float:left;
  width:90%;
  min-height:100px;
  height:auto;
  padding:20px 5%;
  text-align:center;
}





