body {
  margin:0; 
  padding:0;  	
  /*font-family:Vollkorn;*/  
  /*font-family: "Times New Roman", Georgia, Serif;*/
  font-family: "Arial", Serif;
	font-size:0.7em;
	font-style:normal;
	font-variant:normal;
	/*font-weight:500;*/
	line-height:1.0;  
}

h2 {
  font-size:1.3em; 
  margin:0; 
}

.printPage {
  float:left;
  width:194mm;
  padding:8mm;
  height:auto;
}

.printOrders {
  table-layout:fixed;
  border-collapse:collapse;
  width:190mm;
}

.printOrders td {
  padding:3px 5px;
  border:1px solid black;
  overflow:hidden;
}

.printOrders th {
  padding:2px 5px;
  border:1px solid black;
  text-align:left;
}

.tdName {
  width:140px;
}

.tdEmail {
  width:160px;
}

.tdPhone {
  width:100px;
}

.tdBirth {
  width:40px;
}

.tdVou {
  width:100px;
}
