.queryString {position:absolute; left:910px; width:18px; height:18px; z-index:10000; }
.queryString ul {position:relative; top:-12px; left:-40px; }
.queryString li {list-style-type:none; list-style-image:none;}
.queryString a {color:#fff; font-weight:bold; padding:15px 12px 1px 15px; background:url(../design/query_string.png) 15px 0 no-repeat; }
.queryString a:hover {background:url(../design/query_string_hover.png) 15px 0 no-repeat; }
.queryString li ul {position:relative; top:-80px; left:-285px; width:270px; height:auto; padding:15px; visibility:hidden;  }
.queryString li:hover ul {visibility:visible; z-index:303}
.queryString li li {background:#fff; padding:10px; border:1px solid #ccc; border-radius:10px; }
.helpText {line-height:1.4; }
        
#album1 {top:180px; }
#banner1 {top:145px; }
#banner1 li ul {width:520px; left:-535px}
#category1 {top:67px; }
#gallery1 {top:180px; }
#gallery_in1 {top:180px; }
#mailing1 {top:255px; }
#menu1  {top:67px; }
#menu1 li ul {top:-90px; }
#event1 {top:67px; }
#event1 li ul {top:-90px; }
#news1 {top:140px; }
#photo1 {top:180px; }
#sett_gall1 {top:180px; }
#sett_gall1 li ul {width:870px; top:-210px; left:-885px}
#setting1 {top:180px; }
#setting2 {top:340px; }
#setting3 {top:540px; }
#sliderhot1 {top:180px; }
#sliderhot1 li ul {width:520px; left:-535px}
#text1 {top:65px; }
#text1 li ul {width:820px; top:-100px; left:-835px}
#upload1 {top:255px; }
#noonmenu_1 {top:180px; }
#price1 {top:67px; }
#price1 li ul {top:-90px; }


