.message {float:right; width:265px; color:#000; margin:45px 0 30px 0; padding:10px 0 10px 0; height:auto; border-radius:7px 0 0 7px; } /* float:left */
.tabMess {border-collapse:collapse; table-layout:auto; width:250px; margin-left:14px; }
.tabMess td {padding:5px 0; }
.inpField {width:180px; } 
.textField {width:230px; } 
.control {float:left; width:170px; height:auto; }
#captcha {float:left; width:120px; margin:0 0 10px 0; }
.refresh {float:right; width:25px; }
.refresh img {width:20px; margin:10px 0 0 0; }
.field {float:left; }
.field input {width:180px; }
.warrCover {width:240px; margin-left:14px; }
.warr {color:#95121e; font-weight:bold; }
.submitMessage {border:none; background:url('../../../design/button_send.gif') 0 0 no-repeat; width:67px; height:22px; cursor:pointer; margin:5px 0 0 85px}
/*
@media screen and (max-width: 480px) {
  .message {position:relative; width:251px; color:#000; margin:15px 0 30px 0; padding:10px 0 0 14px; height:320px; border:1px solid #ccc; border-radius:7px; z-index:10000; } 
} 
*/