.switcher {position:absolute; width:50px; height:24px; top:32px; right:2%; z-index:11000; }
.switcher img {float:right; height:24px; margin-right:3px; }
.switcher a {
    cursor:pointer;
    text-decoration:none;
    font-weight:bold;
}