/*
License: Free
Version:1.0.5
Author: Milan Makovec
www.gallery603.com
The author of the programming code is Milan Makovec, who owns the author rights, all the intelectual property rights and the source codes, 
except the JQuery library, Core.js library and the jquery.lightbox-0.5.js plugin, whose use is regulated by the specific license conditions. 
The owner of the license bears responsibility for any infridgement of the Jquery and Core.js libraries and the jquery.lightbox-0.5. plugin licenses. 
Note: The programming code copying and distribution is only possible with the author´s consent. 
© Milan Makovec 2014
*/

/* common container for gallery (admin) */
img {border:none; }
.showGalAdmin {float:left; width:921px; height:auto; padding:10px 5px 10px 10px; border:1px solid #cccccc; border-radius:7px;}
.bgSetting {background:url(../design/bg_setting.png) 100px 0 no-repeat; }
.coverNavigationAdmin {float:left; width:100%; height:auto; }
.coverNavigationAdmin h3 {float:left; margin:10px 0 0 0; }
.up {float:right; width:25px; height:25px; margin-top:10px; margin-right:40px; } 
.menuGal {float:right; width:150px; list-style-type:none; margin-top:3px; }
.menuGal li {display:inline; margin-right:2px; }
.menuGal img {height:38px; margin-right:5px; }
.italic {font-style:italic; }
.tabLangAdmin {float:left; border-collapse:collapse; margin:10px 50% 10px 0; } 
.tabLangAdmin th {width:60px; text-align:center; border:1px solid #ccc; background:#38c2c9; }
.tabLangAdmin th h3 {color:#323232; margin:0px 5px; }
.tabLangAdmin td {text-align:center; border:1px solid #ccc; }
.tabLangAdmin td img {margin-top:3px; }
.tabLangAdminAdmin {float:left; border-collapse:collapse; margin:0 50% 10px 0; border:1px solid #ccc; } 
.tabLangAdminAdmin td {vertical-align:top; padding:0 20px; padding-top:7px;}
.tabLangAdminAdmin td img {float:left; }
.formParam {float:left; width:97%; border:1px solid #ccc; margin-bottom:15px; border-radius:7px; padding:10px; } 
.formLangAdmin {float:left; }
.margForm {margin:10px 0 0 10px; }

/* show albums (admin) */
.editBlockList {float:left; width:97%; height:auto; margin-bottom:10px; padding:10px; background-color:#eee; overflow:hidden; border-radius:7px; }
.menuList {float:left; width:98%; height:auto; padding: 5px; margin:0 auto 10px 0; background-color:#fff; overflow:hidden; }
.menuRow {margin-bottom:8px; padding:3px; overflow:hidden; border:1px solid #cccccc; background:#fcfcfc ; font-size:90%; }
.editMenuAlbum {float:right; }
/* .editMenuIt {float:right; width:150px; height:auto; }  UP */
.editAlbum {margin-bottom:0px; }
.noBg {border:1px solid #cccccc; background:none; }
.submit {margin:10px; }

/* show structure of gallery (admin) */
.showAlbum {float:left; width:97%; height:auto; margin-bottom:10px; padding:10px; background-color:#eee; overflow:hidden; border-radius:7px; }
.volume1 {padding:5px; height:auto; background:#fff; overflow: hidden; }
.volume2 {margin-left:90px; padding:5px 5px 0 5px; background:white; overflow:hidden; }
.volume2In {padding:10px; height:auto; margin-bottom:5px; background:#eee; overflow:hidden; }
.volume3 {padding:10px; height:auto; margin:5px 0 0 90px; background:white; overflow:hidden; }
.volume4 {margin:10px 0 5px 90px; padding:5px; background:#eee; overflow:hidden; }

/* show folders and photos in albums (admin) */
.itemPhoto {float:left; margin:10px 9px 0 0; width:140px; height:165px; padding:2px 2px 0 0; border:1px solid #ccc; background:#fff; border-radius:3px; } 
.checkboxTd {width:135px; }
.checkbox {float:right; }
.submitChecked {float:left; width:100%; margin-top:15px; }
.submitChecked input {float:right; }
.tabThumb {width:130px; height:138px; overflow:hidden; text-align:center; font-weight:bold; vertical-align:bottom; } 
.thumbImgL {width:130px; }
.thumbImgP {height:130px; }
.tabThumb a {background:#fff; padding:1px 3px; text-decoration:none; border-radius:3px; }
.folderPhoto {float:left; padding:5px; width:125px; height:80px; background:url(../design/folder.gif) 0 0 no-repeat; }
.subfolder {margin:85px 0 0 0; height:auto; overflow:hidden; font-size:14px; font-weight:bold; }
.subfolder a {text-decoration:none} /* název subfolderu */
.folder {background:url(../design/folder.gif) 15px 15px no-repeat; }
.multipart {float:left; width:98%; height:auto; margin:0 0 15px 0; } 
.multipart div {float:left; height:auto; padding:10px; border:1px solid #ccc; background:#ddedf4; border-radius:7px; } 
.editItem {float:left; width:100%; }

/* show detail photo (admin) */
.detailAdmin {float:left; width:99%; height:auto;}
.imgGal {float:left; width:460px; height:auto; margin-bottom:10px; }
.imgGalPortrait {float:left; margin-bottom:10px; }
.editComment {float:left; width:90%; margin-bottom:0px; }
.editComment table {table-layout:auto; } 
.inpComment {width:525px; }
.wACover {float:left; width:100%; height:auto; }
.wACover form {margin-bottom:0px; }
.warrAdmin {float:left; padding:5px; margin-bottom:10px; color:red; background:#fffc9f; }
.delPhoto {margin-top:15px; }

/* common container for gallery (frontend) */
.showGal {float:left; width:840px; height:auto; background:#fff; margin:10px 0 10px 0; padding:0px 0 10px 0px; }
.showGal h3 {margin:10px 0 0 0; }
.showGal a {color:#992f4a; text-decoration:none; }
.albumThumb {float:left; width:100%; height:auto; margin-bottom:15px; }
.powered {float:left; width:100%; text-align:right; height:20px; font-size:90%; margin:10px 0 0 0; }
.powered table {float:right; margin-right:10px; }

/* gallery show album (frontend) */
.itemPhotoGal {float:left; margin:10px 15px 0 0; padding:5px; /*border:1px solid #ccc;*/ /*background:#fff;*/ text-align:center; border-radius:3px; }
.itemPhotoBg {background:none; /*background:#fff url(../design/folder.gif) 10px 5px no-repeat;*/ }
.itemPhotoGal a {text-decoration:none; color:#323232; }
.itemPhotoGal a:hover {color:#858585 ; }
.itemPhotoGal p {float:left; width:260px; height:auto; font-weight:bold; } /* 130 */
.tabThumbGal {table-layout:fixed; }
.tabThumbGal td {width:260px; height:276px; padding:0px 5px 5px 3px; text-align:center; vertical-align:bottom; }
/*.tabThumbGal td img {width:260px; } */
.hFolder {width:132px; height:157px; }
.coverNavigation {float:left; width:90%; height:auto; } 
.coverNavigation h3 {font-size: 2.0em; float:left; margin:10px 0 0 0; color:#d71a21; } 
.free {margin:0; }
.upFront {float:right; width:25px; height:25px; margin-top:10px; margin-right:40px; background:url('../design/up.gif') 0 0 no-repeat; }
.upFront:hover {background:url('../design/up_hover.gif') 0 0 no-repeat; } 

@media screen and (max-width: 840px)  {
  .showGal {
    width:100%;
  }
}

/* nahrazuje nenačítaný menu.css kvůli konfliktu s gallery.css */
.menuAdmin {float:left; width:100%; height:2.3em; /*height:30px;*/ margin:0; }
.menuAdmin ul {float:left; list-style-type:none; margin:0.5em 0 0 -35px; }
.menuAdmin li {display:inline; margin-right:15px; /*border-right:1px solid #f24f00*/ }
.menuAdmin a {font-size:0.9em; padding:0.7em 0.3em; /* padding:8px 5px 8px 5px; */ text-decoration:none; /*color:#f24f00; background:url(../design/bg_menu.gif) 0 0 no-repeat;*/ }
.menuAdmin a:hover {/*color:#000; background:url(../design/bg_menu_hover.gif) 0 0 no-repeat; */ white-space:nowrap; }