/* menu frontend */ 
.menu {float:left; height:30px; margin-top:0px; margin-left:0px; }
.menu ul {position:relative; top:-6px; left:-30px; list-style-type:none; z-index:1101; white-space: nowrap; }
.menu ul li {position:relative; display:inline; z-index:1102; margin-right:0px; }
.menu a {text-decoration:none; padding:8px 6px 7px 6px; white-space:nowrap; font-size:1.1em; } 

.menu li ul {position:absolute; top:21px; left:0; visibility:hidden; }
.menu li:hover ul {visibility:visible; }
.menu li li {display:block; margin-left:-40px; }              
.menu li li a {display:block; padding:6px 7px; }

.menuJs {float:left; height:30px; margin:0px 0 0 15px; }
.menuJs ul {position:relative; top:3px; left:-40px; list-style-type:none; z-index:1101; white-space: nowrap; }
.menuJs ul li {position:relative; display:inline; z-index:1102; }
.menuJs a {text-decoration:none; padding:1.3em 7px; white-space:nowrap; font-size:1.0em; } 
.menuJs li ul {position:absolute; top:32px; left:-40px; }
.menuJs li li {display:block; margin-bottom:0px; padding:4px 6px; }
.menuJs li li a {padding:4px 6px; }

.coverMenuJs {position:absolute; height:51px; top:17px; right:9%; z-index:1100; }
.menuJs2 {position:relative; z-index:1150; font-size:0.92em; font-weight: bold; }
.menuJs2 ul {position:relative; top:1px; left:25px; list-style-type:none; z-index:1180; }
.menuJs2 li {display:inline; z-index:1102; margin-left:-34px;}
.menuJs2 a {text-decoration:none; padding:17px 7px 18px 7px; white-space:nowrap; z-index:1200;} 
.menuJs2 li ul {position:absolute; top:34px; left:-5px; visibility:hidden; }
.menuJs2 li:hover ul {visibility:visible; }
.menuJs2 li li {display:block; margin-left:-39px; }              
.menuJs2 li li a {display:block; padding:6px 7px; }

#navigation {
  position:absolute;
  top:110px;
  left:0px;
  z-index:5000;
}

#navButton {
  position:absolute;
  width:40px;
  height:40px;
  left:10px;
  top:70px;
  cursor:pointer;
  background:#fff;
  z-index:10000;
}

@media screen and (max-width: 500px)  {
  #navButton {
    top:50px;
  }
}

#navButton img {
  float:left;
  width:40px;
  height:40px;
}

@media screen and (min-width: 1250px) {
  #navButton {left:-1500px; } 
  #navigation {display:none; } 
}
           
@media screen and (max-width: 1250px) {
  .coverMenuJs {width:68%; }
  .menuJs2 {position:relative; left:-1500px; margin:30px 0 0 0; height:30px; z-index:5000; } 
}

#menuVer ul {
  position:relative;
  top:0px; 
  left:-40px; 
  width:auto;
  list-style-type:none; 
}

#menuVer li {
  position:relative;
  left:0px; 
}

#menuVer li a {
  font-size: 0.85em;
  font-weight: bold;
}

#menuVer li a {
  display:block;
  padding:5px 10px;
  text-align:left;
  text-decoration:none;
}

#menuVer li ul {
  position:relative;
  left:-40px; 
  top:0px;
}

#menuVer li li a {
  display:block;
  border-left:none; 
}

/* menu admin */
.menuAdmin {float:left; width:100%; height:2.3em; margin:1px 0 0 0; }
.menuAdmin ul {float:left; list-style-type:none; margin:7px 0 0 -35px; }
.menuAdmin li {display:inline; margin-right:15px; }
.menuAdmin a {font-size:0.9em; padding:9px 0.3em; text-decoration:none; }
.menuAdmin a:hover {white-space:nowrap; }

#mContent {margin-top:0px; }

/* ADMINISTRACE */
.menuList {float:left; width:75%; height:auto; padding:7px; margin:0px auto 10px 0; background-color:#fff; overflow:hidden; } 
.secLevel {float:left; width:75%; height:auto; margin:10px 0 0 0; padding:0; }
.menuRow {float:left; width:98%; height:auto; margin:0 0 10px 0; background:#f0f0f0; padding:3px 5px 7px 5px; }
.orderRow {float:left; width:98%; }
.editMenuIt {float:right; width:658px; table-layout:fixed; } 
.editMenuIt tr {border:1px solid #ccc; }
.editMenuIt td {padding:0 5px; background:#ccc; }
.editMenuIt td img {margin-top:3px; }
.order {width:488px; }
.order input {width:20px; }
.pencil {width:20px; }
.del {width:20px; }
.checked {width:80px; height:25px; }
.inputMenu {margin:15px 0 0 0; width:300px; }
.editItem {float:left; width:500px; margin:0 0 0 20px; }
