.editBlockList {float:left; width:93%; height:auto; padding:15px; }
.flagCover {float:left; width:100%; height:auto; }
.menuLang {float:right; margin:0 200px 0 0; }
.flag {float:right; margin:5px 0 0 0; z-index:1}
.fullWidth {width:100%; }
.thumb1 {width:150px; }
.thumb2 {height:100px; }

/* setting, news */
.tabAdmin {table-layout:auto; margin:0 0 15px 0; border-collapse:collapse; }
.tabAdmin th {/*background:#f24f00; color:#fff; border:1px solid #ccc;*/ padding:5px; }
.tabAdmin td {text-align:left; padding:2px 5px; border:1px solid #ccc; }
.tabAdmin td img {margin-top:3px; }

/* text, news */
.textEdit {table-layout:auto;}
.textEdit tr {height:30px; }
.back {float:right; }
.textSubmit {float:left; margin:10px 0 0 0; }

.warrCover {float:left; width:98%; height:auto; margin:0 0 10px 0; }
.warrCover form {margin-bottom:0px; }
.warr {float:left; padding:3px; background:#fdfbc1; color:#842b01; }

.multipart {float:left; width:98%; height:auto; margin:0 0 15px 0; } /* UP */
.multipart form {float:left; height:auto; padding:10px; border:1px solid #ccc; background:#ddedf4; border-radius:7px; } 

.method {float:left; width:100%; height:auto; margin:0 0 20px 0; }
.method table {table-layout:auto; border-collapse:collapse; margin:0 0 10px 0; }
.method table td {padding:3px 5px; border:1px solid #ccc; } 

.formDel {border:none; width:20px; height:20px; background:url(../design/delete.gif) 0 0 no-repeat; cursor:pointer}
.formDelete {border:none; width:20px; height:20px; background:url(../design/delete.gif) 0 0 no-repeat; cursor:pointer}
.formEdit {border:none; width:20px; height:20px; background:url(../design/tuzka.gif) 0 0 no-repeat; cursor:pointer}

.tableButton {width:40px; } 

.imgDelForm {
  float:right;
}